{{!< default}}

{{#post}}
    {{#if primary_tag}}
    <section class="post-full-tags">
        {{#primary_tag}}
            <p>
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MM.DD.YY"}}</time> in <a href="{{url}}">{{name}}</a>
            </p>
        {{/primary_tag}}
    </section>
    {{/if}}
    <h1>{{title}}</h1>
    <div class="redwood-post-content">
        {{content}}
    </div>
{{/post}}
